h1{
    color: rgb(56, 182, 18);
    /* background-color: rgb(26, 112, 105); */
}
P{
    color: rgb(56, 76, 187);
    background-color: rgb(198, 192, 192);
}
button{color: rgb(8, 160, 230);
    background-color: rgb(70, 66, 66);}